<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HelpDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HelpDesk.Properties.Settings>
            <setting name="txt_TeamviewerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_TeamviewerOption" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_Remote_Assist_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_Remote_Assist_Option" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_Vnc_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_Vnc_Option" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_Dameware_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_Dameware_Option" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_AdminUser" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="txt_AdminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_ComputerSyntax" serializeAs="String">
                <value>{computerName}</value>
            </setting>
            <setting name="txt_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_WOL" serializeAs="String">
                <value />
            </setting>
            <setting name="RadioDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlConfigurationFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckComputers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckPrinters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>958</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_ComputersDistinguishedNameOU" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_prefixComputerName" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_UsersDistinguishedNameOU" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_PrintersDistinguishedNameOU" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_prefixPassword" serializeAs="String">
                <value>{password}</value>
            </setting>
        </HelpDesk.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
